$headerBackground: url("../img/0.jpg");
$card1Background: url("../img/1.jpg");
$card2Background: url("../img/2.jpg");
$card3Background: url("../img/3.jpg");
$footerSecondary: #0E235D;

$textColors: (
	nav: #C4D6DD,
	tours: #35516B,
  toursTitle: #7F91A0,
  reviewsTitle: #CCA4B1,
  find: #727178,
	findTitle: #BCD0E2,
  footerTitle: #659BFF,
	footerPrimary: #457BE4,
);

$bgColors: (
	header: #354F80,
	reviews: #8D6F79,
  reviewsCard: #CBA2B0,
	find: #8695A2,
	footer: #3D5585
);