$headerBackground: url("../img/4.jpg");
$card1Background: url("../img/5.jpeg");
$card2Background: url("../img/6.jpg");
$card3Background: url("../img/7.jpg");
$footerSecondary: #4F0A5E;

$textColors: (
	nav: #4E2844,
	tours: #5E2852,
  toursTitle: #9B819D,
  reviewsTitle: #CBA4CC,
  find: #86787B,
	findTitle: #4D2D50,
  footerTitle: #B965FD,
	footerPrimary: #8C44C8,
);

$bgColors: (
	header: #CEA6C1,
	reviews: #8A6F8D,
  reviewsCard: #CAA2CB,
	find: #9F86A2,
	footer: #5D3D85
);